.cards {
  padding-top: 20px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
  border: none;
  background-color: #fcf5e5;
}
