card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  display: block;
}

.card__like-btn {
  margin-left: auto;
  /* width: 23px;
  height: 20px; */
  opacity: 40%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
